In [3]:
import numpy as np
import pandas as pd

In [6]:
#Assignment 2:
#use us_births data to compute the following using np:
    #extract the year, gender and births column from the data
    #compute the aggregation of sum of total birth, sum of female birth and sum of male birth, mean and median
    #compute the maximum births and minimum births
    #indicate the gender with minimum birth and maximum birth
    #indicate the year with minimum birth and maximum birth

In [7]:
import pandas as pd
us_birth_data = pd.read_csv('C:\\Data Science\\Datasets\\us_births.csv')
us_birth_data.head()
# us_birth_data.head()[1:3]
# us_birth_data [5:100]

   year  month  day gender  births
0  1969      1  1.0      F    4046
1  1969      1  1.0      M    4440
2  1969      1  2.0      F    4454
3  1969      1  2.0      M    4548
4  1969      1  3.0      F    4548

In [21]:
# extract the year, gender and births column from the data
year = np.array(us_birth_data['year'])
gender = np.array(us_birth_data['gender'])
population = np.array(us_birth_data['births'])
print('Birth Year \n', year, '\n')
print('Birth Gender \n', gender, '\n')
print('Birth Population \n', population, '\n')
# population.size

Birth Year
 [1969 1969 1969 ... 2008 2008 2008]

Birth Gender
 ['F' 'M' 'F' ... 'M' 'F' 'M']

Birth Population
 [  4046   4440   4454 ... 165468 173215 181235]

In [23]:
# THE AGGREGATION OF SUM OF THE TOTAL BIRTH:
male = []
female = []
for b in range(0, len(gender)):
    if gender[b] == 'M':
        male.append(population[b])
    else:
        female.append(population[b])
# print('The Male population: \n', male, '\n')
print(len(male))
# print('The Female population: \n', female, '\n')
print(len(female))

7771
7776

In [22]:
#compute the aggregation of sum of total birth, sum of female birth and sum of male birth, mean and median
total_population = np.sum(population)
total_male_birth = np.sum(male)
total_female_birth = np.sum(female)
total_population_mean = np.mean(population)
male_mean_birth = np.mean(male)
female_mean_birth = np.mean(female)
total_population_median = np.median(population)
male_median_birth = np.median(male)
female_median_birth = np.median(female)
print('Total Population: ', total_population)
print('Total Male Population: ',total_male_birth, '\nTotal Female Population: ',total_female_birth)
print('Mean Population: ',total_population_mean, '\n Male Mean Population: ',male_mean_birth, '\n Female Mean Population: ',female_mean_birth )
print('Median Population: ',total_population_median, '\n Male Median Population: ',male_median_birth, '\n Female Median Population: ',female_median_birth )

Total Population:  151774378
Total Male Population:  77738555
Total Female Population:  74035823
Mean Population:  9762.293561458802
 Male Mean Population:  10003.674559258783
 Female Mean Population:  9521.067772633745
Median Population:  4814.0
 Male Median Population:  4938.0
 Female Median Population:  4688.5

In [23]:
#compute the maximum births and minimum births
#indicate the gender with minimum birth and maximum birth
#indicate the year with minimum birth and maximum birth
max_birth = np.max(population)
min_birth = np.min(population)
gender_max = np.argmax(population)
gender_min = np.argmin(population)

print('maximum population is: ', max_birth)
print('minimum population is: ', min_birth)
print('Gender with maximum population birth is: ', gender[gender_max])
print('Gender with minimum population birth is: ', gender[gender_min])
print('Year with maximum population birth is: ', year[gender_max])
print('Year with minimum population birth is: ', year[gender_min])

maximum population is:  199622
minimum population is:  1
Gender with maximum population birth is:  M
Gender with minimum population birth is:  F
Year with maximum population birth is:  2007
Year with minimum population birth is:  1975